h1 {
	font-size:20px;
	margin-bottom:20px; 
}

#wrap {
	margin:10px auto;
	width:900px; 
}

p {
	margin:15px 0;
}

#header {
	margin-bottom:20px;
}

label {
	display:block; 
	padding-bottom:5px; 
	margin-top:20px;
}

#contactform {
	position: absolute;top:25%;
	width:900px; 
}

#contactform li {
	list-style:none; 
	padding-bottom:20px;
}

#contactform li .fieldbox {
	background:transparent url(../images/subfield.jpg) no-repeat top left; 
	float:left; 
	height:27px; 
	padding-left:5px;
}

#contactform li .fieldbox input {
	background:transparent url(../images/subfield.jpg) no-repeat top right; 
	height:27px; 
	padding-top:5px;
	width:400px;
}

#contactform li .fieldbox #contact {
	width:200px;
}

#contactform li .msgbox {
	background:transparent url(../images/msgfield.jpg) no-repeat top left; 
	float:left; 
	height:100px; 
	padding-left:5px;
}

#contactform li .msgbox textarea {
	background:transparent url(../images/msgfield.jpg) no-repeat top right; 
	height:90px;
	padding-top:5px;
	width:400px;	 
}

#date{
	position:absolute;top:8%; left: 55%;
	background: url(../images/grey.jpg);
	font-size:.6em;
	font-family: sans-serif;
	padding-left: 1em;
	padding-right: 1em;
}

#preference{
	position:absolute;top:80%; left: 55%;
	background: url(../images/grey.jpg);
	font-size:.6em;
	font-family: sans-serif;
	padding-left:2em;
	padding-top: 1em;
	padding-right:8em;
}

#sendbutton {
	background:#acb4cb; color:#fff; 
	cursor:pointer;
	padding:5px 10px; 
	-moz-border-radius:4px;
	-webkit-border-radius:4px
}
